@media (min-width: 580px) {
  div.single-project article {
    padding: 40px;
  }
}
@media (max-width: 579px) {
  div.single-project article {
    padding: 20px;
  }
}
@media (min-width: 1000px) {
  div.single-project article header {
    margin-bottom: 40px;
  }
}
@media (max-width: 999px) {
  div.single-project article header {
    margin-bottom: 20px;
  }
}
div.single-project article header h1 {
  font-weight: 300;
  color: #222;
  margin: 0;
}
div.single-project article header p {
  margin: 0;
}
@media (min-width: 580px) {
  div.single-project article header h1 {
    font-size: 32px;
  }
  div.single-project article header p {
    font-size: 20px;
  }
}
@media (max-width: 579px) {
  div.single-project article header h1 {
    font-size: 24px;
  }
  div.single-project article header p {
    font-size: 14px;
  }
}
div.single-project article aside {
  /* Column layout -- not using anymore
			
			@media (min-width: 1050px) and (max-width: 1199px) {
				dl {
					-webkit-column-count: 3;
					-webkit-column-gap: 40px;
				}
			}		

			@media (min-width: 650px) and (max-width: 1049px) {
				dl {
					-webkit-column-count: 2;
					-webkit-column-gap: 30px;
				}
			}	
			*/
}
div.single-project article aside img {
  max-width: 100%;
  max-height: 100px;
  display: block;
  display: none;
  margin: 0 auto 30px;
}
div.single-project article aside dl div.metadata {
  /* no columns anymore -webkit-column-break-inside: avoid; */
}
div.single-project article aside dl div.metadata dt {
  color: #222;
  font-weight: normal;
  margin-top: 30px;
  margin-bottom: 10px;
}
div.single-project article aside dl div.metadata dt:first-child {
  margin-top: 0px;
}
div.single-project article aside dl div.metadata dt,
div.single-project article aside dl div.metadata dd {
  line-height: 1.5;
}
div.single-project article aside dl div.metadata dd {
  margin-bottom: 5px;
}
@media (min-width: 1000px) {
  div.single-project article aside dl div.metadata {
    margin-bottom: 30px;
  }
}
@media (max-width: 999px) and (min-width: 580px) {
  div.single-project article aside dl div.metadata {
    margin-left: 120px;
  }
  div.single-project article aside dl div.metadata dt {
    float: left;
    width: 100px;
    margin-left: -120px;
    text-align: right;
  }
}
@media (max-width: 999px) {
  div.single-project article aside dl div.metadata {
    /* Add a comma before all but the first. */
    /* If there are only 2, use only an ampersand. */
    /*  If there are 3+, use a comma and ampersand. */
  }
  div.single-project article aside dl div.metadata + div.metadata {
    margin-top: 10px;
  }
  div.single-project article aside dl div.metadata dd {
    display: inline;
  }
  div.single-project article aside dl div.metadata dd + dd:before {
    content: ", ";
  }
  div.single-project article aside dl div.metadata dt + dd + dd:last-child:before {
    content: " & ";
  }
  div.single-project article aside dl div.metadata dd + dd + dd:last-child:before {
    content: ", & ";
  }
}
@media (min-width: 1000px) {
  div.single-project article aside {
    width: 275px;
    float: right;
  }
}
@media (max-width: 999px) {
  div.single-project article aside {
    font-size: 14px;
    background-color: #FCFCFC;
    border: 1px solid #EEE;
    border-radius: 2px;
    padding: 10px;
    margin: 30px 0;
  }
}
@media (max-width: 579px) {
  div.single-project article aside {
    padding: 20px;
    font-size: 12px;
  }
}
div.single-project article section h1 {
  font-size: 16px;
  margin-top: 0px;
}
@media (min-width: 1200px) {
  div.single-project article section {
    margin-left: 160px;
  }
  div.single-project article section p,
  div.single-project article section img {
    /*margin-right: 335px;
					margin-left: 160px;*/
  }
  div.single-project article section h1 {
    width: 140px;
    float: left;
    margin: 0 0 0 -160px;
    text-align: right;
  }
}
@media (min-width: 1000px) {
  div.single-project article section {
    margin-right: 335px;
  }
}
@media (min-width: 1200px) {
  div.single-project article section + section {
    margin-top: 40px;
  }
}
@media (max-width: 1199px) {
  div.single-project article section {
    margin-top: 20px;
  }
  div.single-project article section + section {
    border-top: 1px solid #EEE;
    padding-top: 20px;
  }
}
