div.single-article-writing {
  max-width: 900px;
}
div.single-article-writing article section > h1 {
  font-size: 24px;
}
div.single-article-writing article section > section h1 {
  font-size: 20px;
}
div.single-article-writing article section > section > section h1 {
  font-size: 16px;
}
div.single-article-writing article section.citations p {
  padding-left: 2em;
  text-indent: -2em;
}
