main > div {
  /* Only transition the position and opacity */
  transition-property: -webkit-transform, opacity;
  transition-duration: .5s;
  /* Enable transition times, maybe not necessary */
  /*  */
  /*  */
  /*  */
  /*  */
  /*  */
  /*  */
  /*  */
}
main > div#outgoing {
  z-index: 2;
  transition-timing-function: ease-out;
}
main > div#incoming {
  z-index: 1;
  transition-timing-function: ease-in;
}
main > div.hide {
  opacity: 0;
}
main > div.hide-top {
  -webkit-transform: translateY(-50px);
}
main > div.hide-bottom {
  -webkit-transform: translateY(50px);
}
main > div.hide-left {
  -webkit-transform: translateX(-50px);
}
main > div.hide-right {
  -webkit-transform: translateX(50px);
}