/* Variables */

$textHeaders: #1a1a1a;
$textBody: #666666;
$textSecondary: #666;
$textLinks: #333;
$colorHighlight: #f47c2c;
$colorBackground: #eff3f6;
$shadow: rgba(55, 101, 137, .04);

/* Import partials */ 

@import 'global'; 
@import 'header';
@import 'hide';
@import 'multiple-articles';
@import 'multiple-articles-projects';
@import 'single-article';
@import 'single-article-project';
@import 'single-article-writing';
@import 'single-article-about';