main > div.multi-articles-projects {
	max-width: 1200px;
	
	article {
		header {
			color: #FFF;
		}
		/*border-top: 20px solid;
		border-bottom: 10px solid;*/
	}
	
	@media (min-width: 1050px) {
		article {
			width: 33%;
			margin: .16%;
			height: 250px;
		}
	}
	
	@media (min-width: 750px) and (max-width: 1049px) {
		article {
			width: 49.5%;
			margin: .20%;
			height: 250px;
		}
	}
	
	@media(max-width: 749px) {
		article {
			margin: 2px 0;
			width: 100%;
			/*height: 330px;*/
			footer {
				position: relative;
				padding: 0;
			}
		}
	}
}