main > div.multi-articles-projects {
  max-width: 1200px;
}
main > div.multi-articles-projects article {
  /*border-top: 20px solid;
		border-bottom: 10px solid;*/
}
main > div.multi-articles-projects article header {
  color: #FFF;
}
@media (min-width: 1050px) {
  main > div.multi-articles-projects article {
    width: 33%;
    margin: .16%;
    height: 250px;
  }
}
@media (min-width: 750px) and (max-width: 1049px) {
  main > div.multi-articles-projects article {
    width: 49.5%;
    margin: .20%;
    height: 250px;
  }
}
@media (max-width: 749px) {
  main > div.multi-articles-projects article {
    margin: 2px 0;
    width: 100%;
    /*height: 330px;*/
  }
  main > div.multi-articles-projects article footer {
    position: relative;
    padding: 0;
  }
}
